@font-face {
    font-family: "DIN";
    src: url("fonts/Montserrat-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "DIN";
    src: url("fonts/Montserrat-Thin.ttf");
    font-weight: 300;
}